@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@300&display=swap');

html {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    background: #faf9f6;
}

.wrapper {
    position: relative;
    width: 1440px;
    height: 1379px;
    margin: auto;
    color: #999ca0;
}


.brand-img {
    position: absolute;
    width: 193px;
    height: 47.64px;
    left: 100px;
    top: 50.25px;
}

.title {
    position: absolute;
    width: 458px;
    height: 135px;
    left: 100px;
    top: 236px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 67px;
}

.text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 100px;
    top: 403px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.app-store-btn {
    position: absolute;
    left: 100px;
    top: 531px;  
}

.app-store-btn img {
    width: 138.44px;
    height: 46.28px;
}

.google-play-btn {
    position: absolute;
    left: 250px;
    top: 531px;
}

.google-play-btn img {
    width: 156.19px;
    height: 46.28px;
}

.main-image-container {
    position: absolute;
    left: 600px;
    top: 229.73px;
}

.main-image-container img {
    height: 411.15px;
}

.profile-img {
    position: absolute;
    height: 444px;
    left: 697px;
    right: 479px;
    top: 686px;
}

.order-img {
    position: absolute;
    height: 470px;
    left: 439px;
    right: 737px;
    top: 913px;
}

.cart-img {
    position: absolute;
    height: 222px;
    left: 181px;
    right: 995px;
    top: 1157px;
}

.home-img {
    position: absolute;
    height: 470px;
    left: 955px;
    right: 221px;
    top: 908px;

}

.product-img {
    position: absolute;
    height: 222px;
    left: 707px;
    right: 479px;
    top: 1157px;

}

/* Background Toggles */
.background-toggles {
    position: absolute;
    right: 240px;
    top: 70px;
    display: flex;
}

.background-toggles > div { /* child of a parents class */
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Backgrounds */

.background-1 {
    /* background: url("./img/gradient.png") */
    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
    background: linear-gradient(to right, #ffffff, #ffefba);  
  
}

.background-2 {
    /* background: url("./img/particles.png") */
    background: #faf9f6;
    background: -webkit-linear-gradient(to right,#f2fcfe, #7ab1cf);
    background: linear-gradient(to right,  #f2fcfe, #7ab1cf);
}

.background-3 {
    /* background: url("./img/triangles.png") */
    background: #0B486B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

@media screen and (max-width: 600px) {
    body {
      background: whitesmoke;
    }
  
    .wrapper {
      width: 90%;
      height: 1100px;
    }
  
    .brand-logo {
      width: 150px;
      left: 200px;
    }
  
    .title {
      left: 200px;
      font-size: 3rem;
      line-height: 57px;
    }
  
    .text {
      left: 200px;
    }
  
    .app-store-btn {
      left: 200px;
    }
  
    .app-store-btn img {
      width: 130px;
      height: 45px;
    }
  
    .google-play-btn {
      left: 361.81px;
    }
  
    .google-play-btn img {
      width: 130px;
      height: 45px;
    }
  
    .main-image-container {
      left: 683.28px;
      top: 229.73px;
    }
  
    .main-image-container img {
      height: 230px;
    }
  
    .profile-img {
      height: 444px;
      left: 537px;
      right: 479px;
      top: 900px;
    }
  
    .orders-img {
      height: 470px;
      left: 279px;
      right: 737px;
      top: 1200px;
    }
  
    .home-img {
      height: 470px;
      left: 795px;
      right: 221px;
      top: 1100px;
    }
  
    .cart-img {
      height: 222px;
      left: 21px;
      right: 995px;
      top: 1300px;
    }
  
    .product-img {
      height: 222px;
      left: 537px;
      right: 479px;
      top: 1300px;
    }
  
    /* background toggles */
    .background-toggles {
      position: absolute;
      right: -150px;
      top: 70px;
    }
  
    /* tag every child  */
    .background-toggles > div {
      height: 30px;
      width: 30px;
      margin-right: 15px;
    }
  }